body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* HEADER Y NAVBAR */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent; /* Comienza transparente */
  z-index: 1050;
  padding: 0.5rem 1rem;
  width: 100%;
  transition: background-color 0.3s ease-in-out; /* Transición suave */
}

.navbar.scrolled .nav-link {
  color: white;
}

.navbar-brand img {
  max-height: 50px;
  margin-left: 10px;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: black;
  margin-right: 1rem;
  transition: color 0.3s;
}

.navbar.scrolled .nav-link {
  color: white;
}


/* IMAGEN DE INICIO */

.image-container {
  width: 100%;
  overflow: hidden; /* Asegura que no haya desbordamiento */
  margin-top: 92px;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block; /* Elimina el espacio en blanco debajo de la imagen */
}


/* NEGOCIO */

.negocio {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}


/* TARJETAS */

.card-container {
  perspective: 1000px; /* Profundidad para el efecto 3D */
}

.card {
  transition: opacity 0.6s ease, transform 0.6s ease; /* Suavizar el volteo y opacidad */
  transform-style: preserve-3d; /* Habilitar el efecto 3D */
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.card.hide { /* esta clase se setea en Javascript */
  opacity: 0; /* Desaparecer la tarjeta */
  visibility: hidden; /* Evitar que ocupe espacio */
}

.flip-card-btn{
  background-color: #192e5a;
  color: white;
}

@keyframes flipIn {
  from {
    transform: rotateY(90deg); /* Comienza volteada */
    opacity: 0; /* Invisible al inicio */
  }
  to {
    transform: rotateY(0deg); /* Aparece de frente */
    opacity: 1; /* Completamente visible */
  }
}

/* MODAL */

.modal-flip { /* esta clase se setea en Javascript */
  animation: flipIn 0.4s ease-in-out; /* Animación al abrir la modal */
  transform-origin: center; /* Punto de referencia del volteo */
}

.modal-header {
  background-color: #192e5a;
  color: #ffffff;
}

.btn-close {
  filter: invert(1);
}


/* CLIENTES SATISFECHOS */

.clientes-satisfechos{
  background-color: black;
  margin-top: 100px;
}

.clientes-satisfechos h2{
  color: white;
  padding-top: 100px;
  margin: 0;
  text-align: center;
}

.testimonial-card {
  text-align: center;
  border: 1px solid #292929;
  border-radius: 10px;
  padding: 20px; /*VER SI ESTA*/
  background-color: 393939;
  position: relative; /* Necesario para posicionar la imagen */
  margin: 0px 0px; /* Espacio entre las tarjetas verticalmente */
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -40px; /* Posiciona la imagen fuera de la tarjeta */
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #292929; /* Borde blanco para destacar */
}

.testimonial-card blockquote {
  font-style: italic;
  color: white;
  margin-top: 50px; /* Añade espacio para la imagen */
}

.testimonial-card h5 {
  margin-top: 15px;
  font-weight: bold;
  color: white;
}

.row.g-4 {
  margin-top: 100px; /* Espacio para la primera fila con imágenes */
  padding-bottom: 150px;
  padding-left: 50px;
  padding-right: 50px;
}


/* MARCAS */

.brands-section {
  overflow: hidden; /* Ocultar logos fuera de los límites */
}

.brands-section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  text-align: center;
  margin-top: 100px;
}

/* Contenedor de los logos */
.brands-container-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.brands-container {
  display: flex;
  animation: scroll 20s linear infinite; /* Animación continua y más suave */
  white-space: nowrap; /* Asegura que todos los logos estén en una línea */
}

/* Logos individuales */
.brand-logo {
  margin: 0 40px;
  width: 120px; /* Tamaño estándar de los logos */
  height: auto; /* Mantener proporción */
  filter: grayscale(100%); /* Blanco y negro por defecto */
  transition: filter 0.3s ease-in-out; /* Transición al pasar el mouse */
}

/* Animación de desplazamiento de los logos */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Mueve todo el contenedor para un flujo infinito */
  }
}


/* IMÁGENES */

/* Contenedor de las imágenes */
.images-container {
  display: flex;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  height: auto; /* Ocupa toda la altura de la ventana */
  margin: 0;
  margin-top: 50px;
  padding: 0;
  justify-content: space-between; /* Asegura que haya espacio entre las imágenes en pantallas grandes */
}

/* Estilo para los enlaces */
.images-link {
  display: block;
  flex: 1; /* Hace que cada enlace ocupe el mismo espacio */
  height: 100%; /* Ocupa toda la altura */
  padding: 0; /* Elimina cualquier espacio extra alrededor de la imagen */
  margin: 0; /* Elimina márgenes que puedan causar espacio extra */
  overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}

/* Estilo para las imágenes */
.images {
  width: 100%; /* Las imágenes ocuparán el 100% del espacio del contenedor */
  height: 100%; /* Las imágenes ocuparán toda la altura del contenedor */
  object-fit: contain; /* Asegura que las imágenes se ajusten dentro del contenedor sin cortarse */
}


/* CONTACTO-INFO */

.contact-container{
  margin-top: 100px;
}

.logo-contact {
  margin: 0 auto 20px auto;
  max-width: 150px;
}

.label-contact-header{
  color: #192e5a;
}

.social-links {
  display: flex;
  gap: 15px; /* Espacio entre íconos */
  margin-top: 10px;
}

.social-icon {
  text-decoration: none;
  color: #333; /* Color inicial del ícono */
  font-size: 30px; /* Tamaño de los íconos */
  transition: transform 0.3s, color 0.3s;
}

@media (hover: hover) {
  .social-icon:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el cursor */
    color: #026322; /* Cambia de color al hacer hover */
  }
}


/* CONTACTO-FORMULARIO */

.color-label-name{
  color: #192e5a;
}

.form-control {
  border: 1px solid #026322;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-control:focus {
  border-color: #026322; /* Cambia el borde */
  box-shadow: 0px 0px 5px #026322; /* Efecto de brillo */
  outline: none;
}

.btn-submit {
  border-color: #026322;
}

.btn-submit:hover {
  color: #ffffff;
  background-color: #026322;
}


/* FOOTER */

.linea-footer {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}


/* BOTÓN DE WHATSAPP */

.whatsapp-button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.whatsapp-button img {
  width: 45px;
  height: 45px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}



@media (min-width: 992px) { /* Para pantallas grandes en adelante */
  .image-container {
    margin-top: 0px;
  }

  .brands-section {
    overflow: hidden; /* Ocultar logos fuera de los límites */
  }

  .brands-container{
    padding-top: 40px;
    padding-bottom: 60px;
  }
}


@media (max-width: 992px){
  /* HEADER */
  header {
    position: fixed; /* El navbar está fijo en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    background-color: #192e5a;
    z-index: 1050; /* Asegura que el navbar se quede encima del contenido */
    padding: 0.5rem 1rem; /* Espaciado ajustado */
    width: 100%;
  }
  
  .navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    color: #ffffff;
    margin-right: 1rem;
    transition: color 0.3s;
  }
}

@media (max-width: 767px) {

  /* NEGOCIO */

  .negocio{
    margin: 50px 20px;
  }

  /* CLIENTES SATISFECHOS */

  .clientes-satisfechos h2{
    padding-top: 75px;
  }

  .row.g-4 {
    padding-bottom: 100px;
  }

  #cliente2, #cliente3{
    margin-top: 50px;
  }


  /* IMÁGENES */

  .images-container {
    flex-direction: column; /* Cambia a columna, apilando las imágenes */
    height: auto; /* Deja que las imágenes se ajusten a su altura natural */
  }

  .images-link {
    margin-bottom: 0; /* Elimina el margen entre las imágenes en pantallas pequeñas */
  }

  /* CONTACTO-INFO */

  .contact-container{
    margin-top: 25px !important;
  }
}