body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
  }
  
  .estetica-divs{
    padding: 2%;
  }
  
  .h2-style{
    text-align: center;
  }
  
  
  /* HEADER Y NAVBAR */
  
  header {
    position: fixed; /* El navbar está fijo en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    background-color: #192e5a;
    z-index: 1050; /* Asegura que el navbar se quede encima del contenido */
    padding: 0.5rem 1rem; /* Espaciado ajustado */
    width: 100%;
  }
  
  .navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    color: #ffffff;
    margin-right: 1rem;
    transition: color 0.3s;
  }







  #sidebar {
    margin-top: 92px;
    width: 250px;
    height: 100%;
    position: fixed;
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
  }
  #content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
  }

.productos-container{
  margin-top: 92px;
}
  





  



  /* CONTACTO-INFO */

#secContacto{
  margin-top: 92px;
}

.logo-contact {
  margin: 0 auto 20px auto;
  max-width: 150px;
}

.label-contact-header{
  color: #192e5a;
}

.social-links {
  display: flex;
  gap: 15px; /* Espacio entre íconos */
  margin-top: 10px;
}

.social-icon {
  text-decoration: none;
  color: #333; /* Color inicial del ícono */
  font-size: 40px; /* Tamaño de los íconos */
  transition: transform 0.3s, color 0.3s;
}

@media (hover: hover) {
  .social-icon:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el cursor */
    color: #007bff; /* Cambia de color al hacer hover */
  }
}
  
  
/* CONTACTO-FORMULARIO */

.color-label-name{
  color: #192e5a;
}

.btn-submit {
  border-color: #026322;
}

.btn-submit:hover {
  color: #ffffff;
  background-color: #026322;
}


/* FOOTER */

.linea-footer {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}


/* BOTÓN DE WHATSAPP */

.whatsapp-button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.whatsapp-button img {
  width: 45px;
  height: 45px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}