body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER Y NAVBAR */

header {
    position: fixed; /* El navbar está fijo en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    background-color: #192e5a;
    z-index: 1050; /* Asegura que el navbar se quede encima del contenido */
    padding: 0.5rem 1rem; /* Espaciado ajustado */
    width: 100%;
  }
  
  .navbar-brand img {
    max-height: 50px;
    margin-left: 10px;
  }
  
  .navbar-nav .nav-link {
    font-size: 1rem;
    color: #ffffff;
    margin-right: 1rem;
    transition: color 0.3s;
  }


/* SOBRE NOSOSTROS Y LÍNEA PRINCIPAL*/

.sobre-nosotros{
    margin-top: 200px;
}

.imagen-principal {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8); /* Ajusta los valores según tu preferencia */
}

.linea-principal{
  margin-top: 100px;
}


/* VISIÓN, MISIÓN Y VALORES */

.vmv{
  margin-top: 100px;
}

.espacio{
  margin-top: 50px;
}

.about-us-images-container{
  text-align: center;
}

.about-us-images{
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8); /* Ajusta los valores según tu preferencia */
  max-width: 80%; /* El ancho máximo es el 100% del contenedor */
  max-height: 80%; /* El alto máximo es 100px */
  width: auto; /* Permite ajustar el ancho automáticamente */
  height: auto; /* Permite ajustar la altura automáticamente */
}


/* CONTACTO-INFO */

.contact-container{
  margin-top: 50px;
}

.logo-contact {
  margin: 0 auto 20px auto;
  max-width: 150px;
}

.label-contact-header{
  color: #192e5a;
}

.social-links {
  display: flex;
  gap: 15px; /* Espacio entre íconos */
  margin-top: 10px;
}

.social-icon {
  text-decoration: none;
  color: #333; /* Color inicial del ícono */
  font-size: 30px; /* Tamaño de los íconos */
  transition: transform 0.3s, color 0.3s;
}

@media (hover: hover) {
  .social-icon:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el cursor */
    color: #026322; /* Cambia de color al hacer hover */
  }
}


/* CONTACTO-FORMULARIO */

.color-label-name{
  color: #192e5a;
}

.form-control {
  border: 0.5px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.form-control:focus {
  border-color: black; /* Cambia el borde */
  box-shadow: 0px 0px 5px black; /* Efecto de brillo */
  outline: none;
}

.btn-submit {
  border-color: #026322;
}

.btn-submit:hover {
  color: #ffffff;
  background-color: #026322;
}


/* FOOTER */

.linea-footer {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}


/* BOTÓN DE WHATSAPP */

.whatsapp-button {
  position: fixed;
  bottom: 150px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.whatsapp-button img {
  width: 45px;
  height: 45px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}



@media (max-width: 767px) {
  .sobre-nosotros{
    margin-top: 125px;
  }

  .sobre-nosotros h1{
    margin-bottom: 25px;
  }

  .imagen-principal {
    margin-top: 50px;
  }

  .linea-principal{
      margin-bottom: 50px;
  }

  .about-us-images-container{
    margin-top: 50px;
    margin-bottom: 25px;
  }
}