body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* Navbar fijo en la parte superior */
header {
  position: fixed; /* El navbar está fijo en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1050; /* Asegura que el navbar se quede encima del contenido */
  padding: 0.5rem 1rem; /* Espaciado ajustado */
  width: 100%;
}

/* Logo con imagen */
.navbar-brand img {
  max-height: 50px;
  margin-left: 10px;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
  font-size: 1rem;
  color: #343a40;
  margin-right: 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: blue; /* Cambio de color al pasar el mouse */
}

/* Sección del video */
#video-section {
  width: 100vw; /* Ancho completo de la pantalla */
  height: 100vh; /* Alto completo de la pantalla */
  position: relative;
  overflow: hidden;
  margin: 0; /* Quita cualquier margen adicional */
}

.video-embed {
  width: 100vw; /* Ancho completo de la pantalla */
  height: 100vh; /* Alto completo de la pantalla */
  margin-top: 92px;
  object-fit: cover; /* Ajuste perfecto para cubrir el contenedor sin perder la relación de aspecto */
  position: absolute;
  top: 0;
  left: 0;
}
  
.my-carousel{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}



/* Asegura que el contenido debajo pase por debajo del navbar */
.contenido {
  padding: 3%;
  text-align: center;
}


.categories
{
  margin-top: 100px;
}

.product {
  display: none; /* Oculta los productos por defecto */
}

.product.active {
    display: block; /* Muestra solo los productos activos */
}