body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* Navbar fijo en la parte superior */
header {
  position: fixed; /* El navbar está fijo en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  background-color: #192e5a;
  z-index: 1050; /* Asegura que el navbar se quede encima del contenido */
  padding: 0.5rem 1rem; /* Espaciado ajustado */
  width: 100%;
}

/* Logo con imagen */
.navbar-brand img {
  max-height: 50px;
  margin-left: 10px;
}

/* Estilos para los enlaces del navbar */
.navbar-nav .nav-link {
  font-size: 1rem;
  
  color: #ffffff;
  margin-right: 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #ffffff; /* Cambio de color al pasar el mouse */
}

/* Sección del video */
#video-section {
  width: 100vw; /* Ancho completo de la pantalla */
  height: 100vh; /* Alto completo de la pantalla */
  position: relative;
  overflow: hidden;
  margin: 0; /* Quita cualquier margen adicional */
}

.video-embed {
  width: 100vw; /* Ancho completo de la pantalla */
  height: 100vh; /* Alto completo de la pantalla */
  margin-top: 92px;
  object-fit: cover; /* Ajuste perfecto para cubrir el contenedor sin perder la relación de aspecto */
  position: absolute;
  top: 0;
  left: 0;
}
  
.my-carousel{
  padding: 5%;
}




.negocio {
  padding: 2%;
  text-align: center;
}

.clientes-satisfechos {
  padding: 2%;
}


/*CONTACTO*/

.contact-header{
  color: #192e5a;
}


  .social-links {
    display: flex;
    gap: 15px; /* Espacio entre íconos */
    justify-content: center; /* Centra los íconos */
    margin-top: 10px;
  }

  .social-icon {
    text-decoration: none;
    color: #333; /* Color inicial del ícono */
    font-size: 40px; /* Tamaño de los íconos */
    transition: transform 0.3s, color 0.3s;
  }

  .social-icon:hover {
    transform: scale(1.2); /* Agranda el ícono al pasar el cursor */
    color: #007bff; /* Cambia de color al hacer hover */
  }





/* FORMULARIO */

.color-label-name{
  color: #192e5a;
}

.btn-submit {
  border-color: black;
}
.btn-submit:hover {
  color: #ffffff;
  background-color: #026322;
}
.logo {
  margin: 0 auto 20px auto;
  max-width: 150px;
}


/* Botón de footer */

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
}

.linea-footer {
  padding-left: 5%;
  padding-right: 5%;
}




/********************************************************************************************************/
.categories
{
  margin-top: 100px;
}

.product {
  display: none; /* Oculta los productos por defecto */
}

.product.active {
    display: block; /* Muestra solo los productos activos */
}